.footer {
  width: 100%;
  padding-bottom: $p-4;

  background-color: $secondary-color;
  font-size: $f-z-18;
  color: $color-white;


  &__row {
    @include flex();
  }

  &__left {
    @include flex-column();

    gap: 8rem;
  }

  &__right {
    @include flex();

    gap: 8rem;
  }
}
