.header {
  position: fixed;
  width: 100%;
  height: auto;

  margin: 0 auto;

  background-color: $primary-color;
  z-index: 10;

  &-block {
    margin: 0 auto;
    max-width: 1200px;
  }

  &__inner {
    @include flex();
    position: relative;

    padding-top: $p-2;
    padding-bottom: $p-2;
  }
}