@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin transition {
  transition: all 0.5s;
}

@mixin transform {
  transform: scale(1.5);
}

@mixin container {
  max-width: 1200px;
  margin: 0 auto;
}
