//COLORS
$primary-color: #669966;
$secondary-color: #4F6C4F;
$color-red: #E44C50;
$color-white: #FFFFFF;
$color-title: #3F3F3F;
$color-menu: #DFDFDF;
$color-gray: #AEAEAE;
$color-text: #999999;
$color-info: #636363;
$color-border: #B3B3B3;
$color-search-border: #EAEAEA;
$color-search-text: #F3F3F3;
$color-scrollbar: #F6F6F6;

//FONT-FAMILY
$font-family: 'Open Sans', sans-serif;

//FONT-WEIGHT
$f-w-400: 400;
$f-w-500: 500;
$f-w-600: 600;
$f-w-700: 700;

//FONT-SIZE
$f-z-11: 11px;
$f-z-12: 12px;
$f-z-14: 14px;
$f-z-16: 16px;
$f-z-18: 18px;
$f-z-21: 21px;
$f-z-33: 33px;


//LINE-HEIGHT
$l-h: normal;

//PADDING
$p-0: 0;
$p-0-5: 0.5rem;
$p-1: 1rem;
$p-1-75: 1.75rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;
$p-6: 6rem;

//MARGIN
$m-0: 0;
$m-0-5: 0.5rem;
$m-1: 1rem;
$m-1-5: 1.5rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;
$m-6: 6rem;